# Виключаємо тільки критично великі системні папки
.cache/
.cargo/bin/
.cargo/registry/
.rustup/toolchains/
AppData/
.android/
.docker/
.vscode/extensions/

# Зберігаємо node_modules як частину повного проекту
# node_modules/

# Залишаємо dist для демонстрації
# dist/