<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <!-- Simple Incident Menu -->
        <menuitem id="menu_bcm_incident_root"
                  name="Incident Management"
                  parent="bcm_core.menu_bcm_root"
                  sequence="20"/>

        <menuitem id="menu_bcm_incidents"
                  name="Incidents"
                  parent="menu_bcm_incident_root"
                  action="action_bcm_incident"
                  sequence="10"/>
    </data>
</odoo>